server:
  host: 0.0.0.0
  port: 8001          # ISUP TCP
  health_check_port: 8081
  log_level: DEBUG
  storage_path: ./data/storage
  max_pending_days: 30

isapi:
  host: 0.0.0.0
  port: 8002          # Webhook listener
  webhook_path: /isapi/webhook
  webhook_secret: change-me
  webhook_base_url: http://localhost:8002
  event_types:
    - accessControllerEvent

features:
  auto_configure_terminals: false

objects:
  - object_id: demo
    c1:
      base_url: http://localhost:9000
      endpoint: /events
      username: user
      password: pass
    terminals:
      - ip: 192.168.0.10
        port: 80
        username: admin
        password: 12345
        device_id: device-1
